body{
margin: unset;
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

#main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection_panel{

    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

button{

    background-color: unset;
    border: 2px solid rgb(140,140,140);
    padding: 1% 7%;
    
    border-radius: 50em;
}

button:hover{

    background-color: rgb(255,128,64);
    border: 2px solid rgb(255,128,64);
    
}

.selection_num_1, 
.selection_num_2,
.selection_num_3
{
    color: rgb(140,140,140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 2px solid rgb(140,140,140);
    padding: 1% 1%;
    border-radius: 100%;
    width: 4%;
    text-align: center;
}

.selection_num:hover{
    color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 2px solid rgb(255,128,64);
    padding: 1% 1%;
    border-radius: 100%;
    width: 4%;
    text-align: center;
    background-color: rgb(255,128,64);
}